/** @format */


/* color pallatte
#3d5a80
#98c1d9
#e0fbfc
#ee6c4d
#293241 */

:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

html body {
    font-family: "Roboto", sans-serif;
    background-color: #e0fbfc;
}

h1 {
    text-align: center;
    font-family: "Rock Salt", cursive;
}

#container {
    position: relative;
    /* outline: 2px solid #000; */
    font-size: 0;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 560px;
    width: 560px;
    padding: 0px;
    border: 2px solid #000;
    display: grid;
    grid-gap: 0px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-shadow: 10px 5px 5px #ee6c4d;
}

.grid-item {
    border: 1px solid #000;
    text-align: center;
}

.grid-item:hover {
    background-color: black;
}